.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box; 
  margin-top: 17%;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-info {
  /* flex: 3; */
  & *{
    text-align: left;
  }
}

.profile-info p {
  margin-bottom: 10px;
}

.profile-picture img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}
.profile-info {
}
